--- 
layout: default
---
{% assign document = site.prismicData.single.page_home %}
<style>
        html .hero{
            background-image: url('{{ document.fragments.claims_image.url }}');
        }
        @media (max-width: 992px) {
            html .hero{
                background-image: url('{{ document.fragments.claims_image.view_desktop_url }}');
            }
        }
        @media (max-width: 768px) {
            html .hero{
                background-image: url('{{ document.fragments.claims_image.view_tablet_url }}');
            }
        }
        @media (max-width: 576px) {
            html .hero{
                background-image: url('{{ document.fragments.claims_image.view_mobile_url }}');
            }
        }
</style>
<div class="hero">
    <div class="container">
    {% for post in document.fragments.claims_list.group_documents %}
        <h1 class="the_claim">{{post.fragments.claim.text}}<br/><span>{{post.fragments.claim_part_2.text}}</span></h1>
    {% endfor %}
    </div>
</div>

<div class="news_section">
    <div class="container">
        <h1 class="h1_big_news">{{document.fragments.news_title.text}}</h1>
        <div class="row">
            {% assign news = site.prismicData.collections.news | sort:'fragments.publication_date.date' | reverse  %}
            {% for news_item in news limit:3 %}     
            <div class="come-in-module col-sm-6 col-md-4">
                <a class="wrap_a" href="/{{ site.langShort }}/news/{{ news_item.slug }}">
                    <div class="new col-md-12">
                        <div class="wrap_media">
                            <picture class="grow">
                                <source srcset="{{ news_item.fragments.image.url }}" media="(max-width: 400px)">
                                <source srcset="{{ news_item.fragments.image.view_mobile_url }}" media="(max-width: 768px)">
                                <source srcset="{{ news_item.fragments.image.url }}" media="(min-width: 768px)">
                                <img class="grow" src="{{news_item.fragments.image.view_mobile_url }}" alt="{{ news_item.fragments.image.alt }}">
                            </picture>
                        </div>
                        <h1 class="h1_news">
                            {{news_item.fragments.title.text}}
                        </h1>
                        <p class="p_news">
                            {{ news_item.fragments.lead.text | markdownify | newline_to_br | remove: '<p>' | remove: '</p>'}} 
                        </p>
                    </div>
                </a>
                <div class="new_meta">
                    <p class="news_date">
                        <time pubdate datetime="{{news_item.fragments.publication_date.date | date_to_xmlschema}}" title="{{news_item.fragments.publication_date.date | date_to_xmlschema | date: '%d.%m'}}">{{news_item.fragments.publication_date.date | date_to_xmlschema | date: "%d.%m.%Y"}}</time>
                        <a href="/{{ site.langShort }}/news/{{ news_item.slug | split:'.html' | first }}">{{document.fragments.individual_news_link_to_read_more.text}}</a>
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="more-news-button">
            <a class="more-news-btn" rel="noopener noreferrer" href="/{{ site.langShort }}/news/">
                {{document.fragments.news_link_to_watch_all.text}}
            </a>
        </div>
    </div>
</div>

<div class="about_yog_section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h1 class="h1_about_yog">
                    {{document.fragments.about_title.text | newline_to_br }}
                </h1>
            </div>
            <div class="col-md-8">
                <p class="about_the_yog_p">
                    {{document.fragments.about_content.text | newline_to_br }}
                    <strong> <a href="about">{{document.fragments.about_link_more.text | newline_to_br }}</a></strong>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="socials_left col-md-6 col-sm-12" style="padding-left: 100px; padding-right: 50px; height: 400px; background-color: #CF0072;">
    <h3 style="margin-top: 40px !important;">
    	<img height="60" style="margin-right: 20px;" src="/images/home/collab.png">
	{{ document.fragments.socials_header1.text }}
    </h3>
    <h3 style="margin-top: 20px !important; font-weight: normal;">{{ document.fragments.socials_header2.text }}</h3>
    <p>
	{{ document.fragments.socials_text.text }}
    </p>
    <a class="socials_links" href="https://www.instagram.com/lausanne2020" target="_blank" rel="noopener">
	<img height="30" style="margin-top: 30px; margin-right: 20px;" src="/images/home/in-icon-blue.png">
    </a>
    <a class="socials_links" href="https://www.facebook.com/lausanne2020/" target="_blank" rel="noopener">
    	<img height="30" style="margin-top: 30px; margin-right: 20px;"  src="/images/home/fb-icon-blue.png">
    </a>
    <a class="socials_links" href="https://twitter.com/lausanne2020" target="_blank" rel="noopener">
	<img height="30" style="margin-top: 30px; margin-right: 20px;"  src="/images/home/tw-icon-blue.png">
    </a>
    <a class="socials_links" href="https://www.youtube.com/channel/UCcEgzQvjtLp7UCdsXfuHbyQ" target="_blank" rel="noopener">
	<img height="30" style="margin-top: 30px;"  src="/images/home/yt-icon-blue.png">
    </a>
</div>
<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
<div class="newsletter_cta col-md-6 col-sm-12" style="padding-top: 0px !important; padding-right: 50px; padding-bottom: 0px; padding-left: 100px; background-color: #0088CE; height: 400px;">
    <h3 style="margin-top: 40px !important;">
	<img height="60" style="margin-right: 20px;" src="/images/home/nl.png">
	{{ document.fragments.newsletter_header1.text }}
    </h3>
    <h3 style="margin-top: 20px !important; font-weight: normal;">{{ document.fragments.newsletter_text.text }}</h3>
    <p>{{ document.fragments.newsletter_heading.text }}</p>
    {% if site.lang == "fr-fr" %}
    	<form class="newsletter_cta_form form flex stretch" action="https://lausanne2020.us15.list-manage.com/subscribe/post?u=0fa74011acb0c15df90b53c26&amp;id=5f3f817214" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    {% elsif site.lang == "de-de" %}
    	<form class="newsletter_cta_form form flex stretch" action="https://lausanne2020.us15.list-manage.com/subscribe/post?u=0fa74011acb0c15df90b53c26&amp;id=9ec6d10489" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    {% else %}
	<form class="newsletter_cta_form form flex stretch" action="https://lausanne2020.us15.list-manage.com/subscribe/post?u=0fa74011acb0c15df90b53c26&amp;id=6361358ef5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    {% endif %}
    <div id="mc_embed_signup_scroll" class="newsletter-form-adress">
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="{{ document.fragments.newsletter_email_placeholder.text }}" required>
	<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    </div>
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0fa74011acb0c15df90b53c26_5f3f817214" tabindex="-1" value=""></div>
    <div class="newsletter-form-button"><input type="submit" value="{{ document.fragments.newsletter_submit_button.text }}" name="subscribe" class="newsletter_cta_btn btn"></div>
    </form>
    <p>{{ document.fragments.newsletter_gdpr.text }}</p>
</div>
		
<div class="social_feed_section social_wall" style="margin-top: 400px; padding-top: 20px;">
    <div class='container'>
        <h1 class="h1_big_news" style="color:white;">{{ document.fragments.social_wall_title.text }}</h1>
            <div class="row">

                {% social_wall
                
                    insta_username:2041300508,
                    insta_amount:3
            
                %}

        </div>
    </div>
</div>	
<div class="volunteers_big" style="text-align: center;">
    <div class="volunteers_text" style="position: absolute; margin-top: 15vw; text-align: center;">
	<p style="font-weight: bold;">{{ document.fragments.volunteers_text.text }}</p>
    </div>
    <img width="100%" src="/images/home/Benevoles_half.png">
</div>	
<div class="volunteers_small" style="text-align: center;">
    <div class="volunteers_text_small" style="position: absolute; margin-top: 15vw; text-align: center;">
	<p style="font-weight: bold;">{{ document.fragments.volunteers_text.text }}</p>
    </div>
    <img width="100%" src="/images/home/Benevoles.png">
</div>
<div class="cio-sponsors">
    <div class="container">
        <img src="/images/cio-partners/logo_olympic.png" alt="olympic" class="come-in-module">
        <ul class="sponsors-list come-in-module">
            <li>
                <img src="/images/cio-partners/Coca-Cola_logo_200.png" alt="Coca-Cola">
            </li>
            <li>
                <img src="/images/cio-partners/alibaba-logo_200.png" alt="Alibaba Group">
            </li>
            <li>
                <img src="/images/cio-partners/Atos_logo_200.png" alt="Atos">
            </li>
            <li>
                <img src="/images/cio-partners/Bridgestone_logo_200.png" alt="Bridgestone">
            </li>
            <li>
                <img src="/images/cio-partners/Dow_logo_200.png" alt="Dow">
            </li>
            <li>
                <img src="/images/cio-partners/GE_logo_200.png" alt="GE">
            </li>
            <li>
                <img src="/images/cio-partners/Intel_logo_200.png" alt="Intel">
            </li>
            <li>
                <img src="/images/cio-partners/Omega_logo_200.png" alt="Omega">
            </li>
            <li>
                <img src="/images/cio-partners/Panasonic_logo_200.png" alt="Panasonic">
            </li>
            <li>
                <img src="/images/cio-partners/PG_logo_200.png" alt="PG">
            </li>
            <li> 
                <img src="/images/cio-partners/Samsung_logo_200.png" alt="Samsung">
            </li>
            <li>
                <img src="/images/cio-partners/Toyota_logo_200.png" alt="Toyota">
            </li>
            <li>
                <img src="/images/cio-partners/Visa_logo_200.png" alt="Visa">
            </li>
        </ul>
    </div>
</div>
