---
layout: default
---

{% assign document = site.prismicData.single.page_media%}
<div class="about_yog about_yog_1 ">
  <div class="container fade-in-module">
    {% if site.lang == "fr-fr" %}
      <h1>Médias</h1>
    {% endif %}
    {% if site.lang == "de-de" %}
      <h1>Medien</h1>
    {% endif %}
    {% if site.lang == "en-gb" %}
      <h1>Media</h1>
    {% endif %}
    <div class="medias col-md-8 col-sm-12">
      {% if site.lang == "fr-fr" %}
        <h2>Communiqués de presse</h2>
      {% endif %}
      {% if site.lang == "de-de" %}
        <h2>Medienmitteilungen</h2>
      {% endif %}
      {% if site.lang == "en-gb" %}
        <h2>Press release</h2>
      {% endif %}
      <div class="prelease">
        {% if site.lang == "fr-fr" %}
          <a href="/images/home/20181014_Communiqué_de_presse_PB.pdf" target="_blank" rel="noopener">14.10.2018 : Décès de Patrick Baumann, Président du Comité d’organisation de Lausanne 2020</a><br>
          <a href="/images/home/Lausanne2020_CP_03.10.2018.pdf" target="_blank" rel="noopener">03.10.2018 : Trois ambassadeurs et de nouveaux partenaires pour Lausanne 2020</a><br>
          <a href="/images/home/Lausanne2020_CP_15.08.2018.pdf" target="_blank" rel="noopener">15.08.2018 : Les sites hôtes en pleine confiance à 17 mois de l'évènement</a><br>
          <a href="/images/home/Lausanne2020.CP.09.04.2018._FR.pdf" target="_blank" rel="noopener">09.04.2018 : Lausanne 2020 en avance sur son calendrier</a><br>
          <a href="/images/home/Lausanne2020_Pressrelease_131stIOCSession_Lima_2017-13-09_FR.pdf" target="_blank" rel="noopener">13.09.2017 : Lausanne 2020 - "Nos promesses deviennent réalité"</a><br>
        {% endif %}
        {% if site.lang == "de-de" %}
          <a href="/images/home/Lausanne2020_MM_15.08.2018.pdf" target="_blank" rel="noopener">15.08.2018 : Host-Standorte sehr zuversichtlich 17 Monate vor den Spielen</a><br>
          <a href="/images/home/Lausanne2020.CP.09.04.2018._ALL.pdf" target="_blank" rel="noopener">09.04.2018 : Lausanne 2020 liegt dem Zeitplan voraus</a><br>
        {% endif %}
        {% if site.lang == "en-gb" %}
          <a href="/images/home/20181014_Press_release_PB.pdf" target="_blank" rel="noopener">14.10.2018 : Death of Patrick Baumann, President of the Lausanne 2020 Organising Committee</a><br>
          <a href="/images/home/Lausanne2020_CP_03.10.2018_EN.pdf" target="_blank" rel="noopener">03.10.2018 : Three ambassadors and a host of new partners for Lausanne 2020</a><br>
          <a href="/images/home/Lausanne2020_PR_15.08.2018.pdf" target="_blank" rel="noopener">15.08.2018 : Preparation Events to Take Place This Winter in Most Competition Sites</a><br>
          <a href="/images/home/Lausanne2020_Pressrelease_131stIOCSession_Lima_2017-13-09_ENG.pdf" target="_blank" rel="noopener">13.09.2017 : Lausanne 2020 - "Our promise becomes reality"</a><br>
        {% endif %}
      </div>
      {% if site.lang == "fr-fr" %}
        <h2>Articles de presse</h2>
      {% endif %}
      {% if site.lang == "de-de" %}
        <h2>Presseartikel</h2>
      {% endif %}
      {% if site.lang == "en-gb" %}
        <h2>Media articles</h2>
      {% endif %}
      <div class="medart">
        {% if site.lang == "fr-fr" %}
          <a href="https://www.vtg.admin.ch/fr/armee.detail.news.html/vtg-internet/verwaltung/2018/18-09/18-09-07-valleedejoux.html" target="_blank" rel="noopener">07.09.2018 : 21 ans. Chef de chantier. Sous-officier de milice.</a><br>
          <a href="/images/home/Sportcal.pdf" target="_blank" rel="noopener">25.05.2018 : Sportcal - "Pourquoi être hôte des Jeux Olympiques de la Jeunesse ?" (Texte en anglais)</a><br>
        {% endif %}
        {% if site.lang == "de-de" %}
          <a href="https://www.vtg.admin.ch/de/armee.detail.news.html/vtg-internet/verwaltung/2018/18-09/18-09-07-valleedejoux.html" target="_blank" rel="noopener">07.09.2018 : 21-jährig. Bauchef. Milizunteroffzier.</a><br>
          <a href="/images/home/Sportcal.pdf" target="_blank" rel="noopener">25.05.2018 : Sportcal - "Why host the Youth Olympic Games?" (Artikel auf Englisch)</a><br>
        {% endif %}
        {% if site.lang == "en-gb" %}
          <a href="https://www.vtg.admin.ch/fr/armee.detail.news.html/vtg-internet/verwaltung/2018/18-09/18-09-07-valleedejoux.html" target="_blank" rel="noopener">07.09.2018 : 21 ans. Chef de chantier. Sous-officier de milice. (Text in french)</a><br>
          <a href="/images/home/Sportcal.pdf" target="_blank" rel="noopener">25.05.2018 : Sportcal - "Why host the Youth Olympic Games?"</a><br>
        {% endif %}
      </div>
      <h2>Newsletter</h2>
      <div class="newsl">
        {% if site.lang == "fr-fr" %}
          <a href="https://mailchi.mp/lausanne2020.com/newsletter-novembre-2018" target="_blank" rel="noopener"> Novembre 2018 </a><br>
          <a href="https://mailchi.mp/lausanne2020.com/newsletter-septembre-2018" target="_blank" rel="noopener"> Septembre 2018 </a><br>
          <a href="https://mailchi.mp/lausanne2020/newsletter-aout-2018" target="_blank" rel="noopener"> Août 2018 </a><br>
          <a href="https://mailchi.mp/lausanne2020.com/newsletter-juillet-2018" target="_blank" rel="noopener"> Juillet 2018 </a><br>
          <a href="https://mailchi.mp/lausanne2020.com/newsletter-lausanne-2020-juin-471637" target="_blank" rel="noopener"> Juin 2018 </a><br>
          <a href="https://mailchi.mp/lausanne2020.com/newsletter-lausanne-2020-mai-2018" target="_blank" rel="noopener"> Mai 2018 </a><br>
          <a href="https://mailchi.mp/e25abb6e9019/2-years-to-go-avant-lausanne-2020-9-janvier-2018-16h30-au-flon" target="_blank" rel="noopener"> Janvier 2018 - 2 years to go!</a><br>
          <a href="https://mailchi.mp/1bf8b6c9710b/newsletter-lausanne-2020-novembre-2017" target="_blank" rel="noopener"> Novembre 2017 </a><br>
          <a href="https://mailchi.mp/90f4d72d377d/lausanne2020-newsletter-septembre-2017" target="_blank" rel="noopener"> Septembre 2017 </a><br>
          <a href="https://mailchi.mp/d1078c26c261/lausanne-2020-newsletter-8-juin-2017" target="_blank" rel="noopener"> Juin 2017 </a><br>
        {% endif %}
        {% if site.lang == "de-de" %}
          <a href="https://mailchi.mp/lausanne2020/newsletter-november-2018-de" target="_blank" rel="noopener"> November 2018 </a><br>
          <a href="https://mailchi.mp/lausanne2020/newsletter-september-de" target="_blank" rel="noopener"> September 2018 </a><br>
          <a href="https://mailchi.mp/lausanne2020/newsletter-august-2018" target="_blank" rel="noopener"> August 2018 </a><br>
          <a href="https://mailchi.mp/lausanne2020/newsletter-juli-2018" target="_blank" rel="noopener"> Juli 2018 </a><br>
          <a href="https://mailchi.mp/4953fb908b49/newsletter-lausanne-2020-juni-473997" target="_blank" rel="noopener"> Juni 2018 </a><br>
          <a href="https://mailchi.mp/aa7583286711/2-years-to-go-lausanne-343573" target="_blank" rel="noopener"> Januar 2018 - 2 years to go! </a><br>
          <a href="https://mailchi.mp/67cb2c2f037b/newsletter-lausanne-2020-novembre-309253" target="_blank" rel="noopener"> November 2017 </a><br>
          <a href="https://mailchi.mp/d7acb3aac5db/lausanne2020-newsletter-september-2017" target="_blank" rel="noopener"> September 2017 </a><br>
          <a href="https://mailchi.mp/1b14eb75cf7e/lausanne-2020-newsletter-8-juni-2017" target="_blank" rel="noopener"> Juni 2017 </a><br>
        {% endif %}
        {% if site.lang == "en-gb" %}
          <a href="https://mailchi.mp/lausanne2020.com/newsletter-november-2018-en" target="_blank" rel="noopener"> November 2018 </a><br>
          <a href="https://mailchi.mp/lausanne2020.com/newsletter-september-en" target="_blank" rel="noopener"> September 2018 </a><br>
          <a href="https://mailchi.mp/lausanne2020.com/newsletter-august-2018-en" target="_blank" rel="noopener"> August 2018 </a><br>
          <a href="https://mailchi.mp/lausanne2020.com/newsletter-july-2018" target="_blank" rel="noopener"> July 2018 </a><br>
          <a href="https://mailchi.mp/lausanne2020.com/newsletter-lausanne-2020-june-471677" target="_blank" rel="noopener"> June 2018 </a><br>
          <a href="https://mailchi.mp/lausanne2020.com/newsletter-lausanne-2020-may-2018" target="_blank" rel="noopener"> May 2018 </a><br>
          <a href="https://mailchi.mp/328125f26fc6/2-years-to-go-lausanne-343577" target="_blank" rel="noopener"> January 2018 - 2 years to go!</a><br>
          <a href="https://mailchi.mp/4db957d0b109/newsletter-lausanne-2020-novembre-309257" target="_blank" rel="noopener"> November 2017 </a><br>
          <a href="https://mailchi.mp/8617ce2ff6b1/lausanne2020-newsletter-september-2017" target="_blank" rel="noopener"> September 2017 </a><br>
          <a href="https://mailchi.mp/dbb49f557e54/lausanne-2020-newsletter-8-june-2017" target="_blank" rel="noopener"> June 2017 </a><br>
        {% endif %}
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="contactInfos">
        {% if site.lang == "fr-fr" %}
          <h2>Contact presse :</h2>
          @ : <a href="mailto:press@lausanne2020.com?Subject=Press%20contact" >press(at)lausanne2020(dot)com</a>
        {% endif %}
        {% if site.lang == "de-de" %}
          <h2>Medienkontakt</h2>
          @ : <a href="mailto:press@lausanne2020.com?Subject=Press%20contact" >press(at)lausanne2020(dot)com</a>
        {% endif %}
        {% if site.lang == "en-gb" %}
          <h2>Press contact</h2>
          @ : <a href="mailto:press@lausanne2020.com?Subject=Press%20contact" >press(at)lausanne2020(dot)com</a>
        {% endif %}
        
      </div>
    </div>
  </div>
</div>
