// Banner on homepage *************************************
html .hero {
    background-size: cover;
    height: 900px;
    margin-top: 190px;
    .container {
        padding-top: 10px !important;
	margin-left: 50px;
	width: 1500px;
    }
    @media (max-width: 1921px) {
        height: 800px;
	margin-top: 190px;
	.container {
            padding-top: 10px !important;
	    margin-left: 50px;
	    width: 1200px;
        }
    }
    @media (max-width: 1651px) {
        height: 700px;
	margin-top: 190px;
	.container {
            padding-top: 10px !important;
	    margin-left: 50px;
	    width: 1200px;
        }
    }
    @media (max-width: 1501px) {
        height: 600px;
	margin-top: 190px;
	.container {
            padding-top: 20px !important;
	    margin-left: 20px;
	    width: 800px;
        }
        .the_claim {
            font-size: 30px;
            line-height: 40px;
            font-weight: 600;
	    margin-top: 0px;
        }
    }
    @media (max-width: 1250px) {
        height: 500px;
        margin-top: 190px;
	.container {
            padding-top: 10px !important;
	    margin-left: 10px;
	    width: 750px;
        }
    }
    @media (max-width: 1155px) {
        height: 500px;
        margin-top: 190px;
	.container {
            padding-top: 10px !important;
	    margin-left: 10px;
	    width: 800px;
        }
    }
    @media (max-width: 990px) {
        height: 400px;
        margin-top:220px;
	.container {
            padding-top: 0px !important;
	    margin-left: 10px;
	    width: 650px;
        }
	.the_claim {
            font-size: 20px;
            line-height: 30px;
            font-weight: 600;
            padding-left: 0px;
	    margin-top: 20px;
        }
    }
    @media (max-width: 830px) {
        height: 400px;
        margin-top: 220px;
	.container {
            padding-top: 0px !important;
	    margin-left: 0px;
	    width: 600px;
        }
        .the_claim {
            font-size: 20px;
            line-height: 30px;
            font-weight: 600;
            padding-left: 10px;
	    margin-top: 20px;
        }
    }
    @media (max-width: 767px) {
        height:300px;
        margin-top:200px;
	.container {
	    margin-left: 10px;
	    width: 480px;
	    padding-top: 0px;
        }
	.the_claim {
            font-size: 15px;
            line-height: 20px;
            font-weight: 600;
            margin-top: 30px;
        }
    }
    @media (max-width: 550px) {
        height: 200px;
	margin-top: 200px;
	.container {
	    margin-left: 0px;
	    width: 400px;
        }
        .the_claim {
            font-size: 10px;
            line-height: 20px;
            font-weight: 600;
            padding-top: 0px;
	    margin-top: 10px;
	    padding-left: 0px;
        }
    }
}

.the_claim {
    position: absolute;
    color: #ffffff;
    width: inherit;
    font-size: 45px;
    line-height: 50px;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px;
}

// About *************************************
.about_yog_section {
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #CF0072;
}

.h1_about_yog {
    margin-top: 20px;
    font-size: 58px;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: bold;
}

.about_the_yog_p {
    margin-top: 20px;
}

// Volunteers infos ****************************
.volunteers_small {
    visibility: hidden;
    position: absolute;
    @media(max-width: 991px) {
        visibility: visible !important;
	      position: relative !important;
    }
}
.volunteers_big{
    @media(max-width: 991px) {
	      visibility: hidden;
	      position: absolute;
    }
}
.volunteers_text p {
    text-align: center !important;
    text-transform: uppercase;
    font-size: 2.2vw;
    margin-left: 5vw;
}
.volunteers_text_small p {
    text-align: center !important;
    text-transform: uppercase;
    font-size: 2.5vw;
    margin-left: 5vw;
}

// Newsletter and Socials cta *******************************
.newsletter-text {
    padding-right: 10px;
    width: 100%;
    @media(max-width: 991px) {
        width: 100%;
        padding-right: 0;
    }
}

.newsletter-cta-btn.btn {
    background-color: #017ec5;
}

.newsletter_cta_form {
    margin: 0;
    width: 100%;
    .newsletter-form-adress {
        width: 75%;
        padding-right: 20px;
        padding-left: 20px;
    }
    input {
        margin: 0;
    }
    @media(max-width: 991px) {
        @include flex-direction(row);
        .newsletter-form-adress {
            width: 100%;
        }
    }
}

.socials_left {
    padding-left: 100px; 
    padding-right: 50px; 
    height: 400px; 
    background-color: #CF0072;
	
    @media(max-width: 1514px) {
	      height: 420px;
    }
    @media(max-width: 1124px) {
	      height: 450px;
    }
    @media(max-width: 1089px) {
	      height: 470px;
    }
    @media(max-width: 991px) {
	      height: 360px;
    }
    @media(max-width: 894px) {
	      height: 400px;
    }
    @media(max-width: 767px) {
	      .first-title {
	          padding-top: 20px !important;
    	      margin-top: 0px !important;
	      }
	      padding-left: 50px;
	      height: 320px;
    }
    @media(max-width: 628px) {
	      height: 350px;
    }	
    @media(max-width: 387px) {
	      height: 380px;
    }
}	
.newsletter_cta {
    padding-top: 0px !important; 
    padding-right: 50px; 
    padding-bottom: 0px; 
    padding-left: 100px; 
    background-color: #0088CE; 
    height: 400px;
	
    @media(max-width: 1514px) {
        height: 420px;
    }
    @media(max-width: 1124px) {
	      height: 450px;
    }
    @media(max-width: 1089px) {
	      height: 470px;
    }
    @media(max-width: 991px) {
	      height: 360px;
    }
    @media(max-width: 894px) {
	      height: 400px;
    }
    @media(max-width: 767px) {
	      .first-title {
	          padding-top: 20px !important;
    	      margin-top: 0px !important;
	      }
	      padding-left: 50px;
    }
    @media(max-width: 551px) {
	      height: 420px;
    }
    @media(max-width: 494px) {
	      height: 450px;
    }
    @media(max-width: 416px) {
	      height: 480px;
    }
    @media(max-width: 362px) {
	      height: 550px;
    }
}

// Partners *********************************
.cio-sponsors {
    padding-top: 80px;
    padding-bottom: 80px;
    margin-top: 300px;
    @media (max-width: 991px) {
	margin-top: 700px;	
    }
    @media (max-width: 767px) {
	margin-top: 0px;	
    }
    text-align: center; // First olympic banner
    .container>img {
        padding-bottom: 40px;
        width:325px;
	      padding-top: 20px;
    }
    .sponsors-list {
        padding-left: 0;
    }
    .sponsors-list li {
        display: inline-block;
        vertical-align: middle;
        margin: 0 34px 30px;
        width: 140px;
    }
}

@media(max-width: 767px) {
    .cio-sponsors {
	      padding-top: 10px;
    }
}

.partners-title {
    color: black;
    text-align: left;
    margin-bottom: 0px;
    font-size: 13px;
}

.hr-line {
    margin-top: -12px;
    border-top: 1px solid #000000;
  }
