---
layout: default
---

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v3.0';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script language="javascript">
    function fbshareCurrentPage()
    var url = "https://www.facebook.com/sharer/sharer.php?u="+escape(window.location.href)+"&t="+document.title+"&amp;src=sdkpreparse"
    return url; }
</script>

<script language="javascript">
    function fbshareCurrentPageUnesc()
    var url = unescape("https://www.facebook.com/sharer/sharer.php?u="+escape(window.location.href)+"&t="+document.title+"&amp;src=sdkpreparse")
    return url; }
</script>


<div class="single-news-content">
	<header>
		<div class="news-image">
			<img alt="{{ page.document.fragments.image.alt }}" src="{{ page.document.fragments.image.view_mobile_url }}" srcset="{{ page.document.fragments.image.url }} {{ page.document.fragments.image.width }}w, {{ page.document.fragments.image.view_mobile_url }} {{ page.document.fragments.image.view_mobile_width }}w" />
	  </div>
	</header>
	<div class="container news-content">
		<h1>{{page.document.fragments.title.text}}</h1>
		<p class="p_news">{{ page.document.fragments.body.html | markdownify | newline_to_br | remove: '<p>' | remove: '</p>'}}</p>
    
    <p class="news_date" style="width: 50%; float: left;">
			<time pubdate datetime="{{page.document.fragments.publication_date.date | date_to_xmlschema}}" title="{{page.document.fragments.publication_date.date | date_to_xmlschema | date: '%d.%m'}}">{{page.document.fragments.publication_date.date | date_to_xmlschema | date: "%d.%m.%Y"}}</time>
		</p>
		<div class="fb-share-button" style="float:right;" data-layout="button" data-href="javascript:fbshareCurrentPageUnesc()" data-size="small" data-mobile-iframe="true"><a target="_blank" href="javascript:fbshareCurrentPage()" class="fb-xfbml-parse-ignore">Partager</a></div>
	</div>
</div>
